/* div 外框。*/
.box-border {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border: 1px solid grey;
}

/* 定义一个盒子, 输入内容 */
.flashlight {
    width: 270px;
    height: 290px;
    /* background: rgba(0, 0, 0, 1)            !* 定义纯背景色 *! */
    background: radial-gradient(
        circle
        50px                                   /* 改变渐变半径 */
        at 135px 135px,                        /* 改变位置 */
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1));                     /* 定义射线渐变背景 */
    animation: move-ani 1.6s linear infinite;  /* 可修改动画时间 */
    /* animation: move-ani 0.8s linear infinite; */
}

/* 定义动画 */
@keyframes move-ani {
    0% {
        background: radial-gradient(
                circle 10px at 135px 135px,
                rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    25% {
        background: radial-gradient(
                circle 20px at 135px 135px,
                rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    50% {
        background: radial-gradient(
                circle 30px at 135px 135px,
                rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    75% {
        background: radial-gradient(
                circle 40px at 135px 135px,
                rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    100% {
        background: radial-gradient(
                circle 50px at 135px 135px,
                rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
}
