@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	font-family:"宋体";
	font-size:12px;
	color:#494949;
	line-height:20px;
	background-image:url(../images/a9601.gif);
	background-repeat:repeat-x;
}
#box{
	width:1005px;
	height:100%;
	overflow:hidden;
	margin:0px auto;
	padding-left:5px;
	padding-right:5px;
}
#top{
	width:940px;
	height:19px;
	color:#FFF;
	font-weight:bold;
	line-height:19px;
	text-align:right;
	margin-top:15px;
	margin-bottom:15px;
	background-image:url(../images/a9602.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:65px;
}
.a{
	margin-left:5px;
	margin-right:5px;
	font-weight:normal;
}
#menu{
	width:1005px;
	height:53px;
	background-image:url(../images/a9603.gif);
	background-repeat:no-repeat;
}
#flash{
	width:100%;
	height:482px;
}
#main{
	position: relative;
	z-index: 100;
	width:949px;
	height:100%;
	overflow:hidden;
	padding-top:16px;
	padding-left:28px;
	padding-right:28px;
	margin-top: -47px;
	background-image:url(../images/a9618.gif);
	background-repeat:no-repeat;
}
#left{
	float:left;
	width:302px;
	height:488px;
	background-image:url(../images/a9619.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:16px;
}
#guide{
	width:302px;
	height:207px;
	margin-bottom:10px;
}
#guide_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
}
#guide_text{
	width:296px;
	height:68px;
	margin:10px auto 10px;
}
#guide_text li{
	float:left;
	list-style:none;
	border-right:#c9c9c9 dashed 1px;
	margin-left:4px;
	margin-right:3px;
	padding-right:6px;
}
.img{
	margin-left:4px;
}
#sweet{
	width:302px;
	height:134px;
}
#sweet_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
	background-image:url(../images/a9626.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
#sweet_pic{
	width:260px;
	height:90px;
	margin:10px auto;
}
#price{
	width:302px;
	height:100%;
	overflow:hidden;
	margin-top:10px;
}
#price_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
}
#price_pic{
	width:160px;
	height:40px;
	font-weight:bold;
	margin:10px auto;
	background-image:url(../images/a9630.gif);
	background-repeat:no-repeat;
	padding-left:140px;
	padding-top:21px;
	padding-bottom:22px;
}
.font{
	color:#4365bc;
}
#center{
	float:left;
	width:302px;
	height:488px;
	background-image:url(../images/a9619.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:16px;
	padding-left:16px;
}
#activity{
	width:302px;
	height:124px;
}
#activity_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
	background-image:url(../images/a9626.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
#activity_text{
	width:302px;
	height:80px;
	padding-top:10px;
	padding-bottom:10px;
}
#activity_text dt{
	float:left;
	width:212px;
	background-image:url(../images/a9632.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:15px;
}
#activity_text dd{
	float:left;
	width:75px;
	color:#999;
	text-align:right;
}
#news{
	width:302px;
	height:124px;
	margin-top:10px;
}
#news_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
	background-image:url(../images/a9626.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
#news_text{
	width:302px;
	height:80px;
	padding-top:10px;
	padding-bottom:10px;
}
#news_text dt{
	float:left;
	width:212px;
	background-image:url(../images/a9632.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:15px;
}
#news_text dd{
	float:left;
	width:75px;
	color:#999;
	text-align:right;
}
#base{
	width:302px;
	height:128px;
	margin-top:10px;
}
#base_title{
	width:302px;
	height:23px;
	border-bottom:#8ea3d7 solid 1px;
	background-image:url(../images/a9626.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
#base_pic{
	width:300px;
	height:84px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px auto;
}
#pic1{
	float:left;
	width:98px;
	height:84px;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
}
#pic2,#pic3{
	float:left;
	width:98px;
	height:84px;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
}
#pic{
	width:302px;
	height:68px;
}
#pic img{
	margin-left:5px;
	margin-right:5px;
}
#right{
	float:left;
	width:277px;
	height:488px;
	padding-left:16px;
	line-height:25px;
}
#park{
	width:275px;
	height:78px;
	background-image:url(../images/a9640.jpg);
	background-repeat:no-repeat;
	padding-top:38px;
	padding-bottom:8px;
	border:#CCC 1px solid;
}
#park li{
	list-style:none;
	background-image:url(../images/a9632.gif);
	background-repeat:no-repeat;
	background-position:11px center;
	padding-left:22px;
	border-bottom:#CCC dashed 1px;
}
#world{
	width:275px;
	height:150px;
	background-image:url(../images/a9641.jpg);
	background-repeat:no-repeat;
	margin-top:10px;
	padding-top:45px;
	padding-bottom:4px;
	border:#CCC 1px solid;
}
#world li{
	list-style:none;
	background-image:url(../images/a9632.gif);
	background-repeat:no-repeat;
	background-position:11px center;
	padding-left:22px;
}
.font01{
	float:right;
	color:#8ea3d7;
	margin-right:5px;
}
#video{
	width:277px;
	height:131px;
	margin-top:10px;
}
#video_title{
	width:277px;
	height:23px;
	background-image:url(../images/a9626.gif);
	background-repeat:no-repeat;
	background-position:right center;
	border-bottom:#8ea3d7 solid 1px;
	margin-bottom:15px;
}
#video_pic1{
	float:left;
	width:90px;
	height:92px;
	margin-left:1px;
	margin-right:1px;
	font-weight:bold;
	text-align:center;
}
#video_pic2,#video_pic3{
	float:left;
	width:90px;
	height:92px;
	margin-left:1px;
	margin-right:1px;
	font-weight:bold;
	text-align:center;
}
#bottom{
	width:875px;
	height:60px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:130px;
	background-image:url(../images/a9646.gif);
	background-repeat:no-repeat;
	background-position:left center;
}
.font02{
	font-weight:bold;
}