@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	font-family:"宋体";
	font-size:14px;
	color:#617118;
	background-image:url(../images/42601.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
#box{
	position:absolute;
	right:0px;
	width:440px;
	height:585px;
	line-height:23px;
	background-image:url(../images/42602.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	margin-top:25px;
	padding-left:430px;
	padding-right:130px;
	padding-top:25px;
}
#text{
	width:440px;
	height:550px;
	background-image:url(../images/42603.png);
	background-repeat:no-repeat;
	padding-top:35px;
}
